.category-product-wrapper {
  position: relative;
  z-index: 0;
}
.category-product-wrapper:before, .category-product-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}
.category-product-wrapper:before {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.4%, #c111a7), color-stop(99%, #4b1174));
  background: linear-gradient(90deg, #c111a7 0.4%, #4b1174 99%);
  top: 0;
}
.category-product-wrapper:after {
  background: #4B1174;
  bottom: 0;
}

.category-product-content {
  background: white;
  border-radius: 45px;
}
.category-product-content > .wrapper {
  padding: calc(30px + 15 * ((100vw - 320px) / (1280 - 320))) 0;
}

.category-product-left {
  width: 100%;
}

.category-product-navigation {
  white-space: nowrap;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1280 - 320)));
  color: #929292;
}

.current-category-title {
  font-size: calc(30px + 6 * ((100vw - 320px) / (1280 - 320)));
  color: black;
  margin: calc(20px + 5 * ((100vw - 320px) / (1280 - 320))) 0;
  display: block;
}

.categories-list-holder > h4 {
  font-size: calc(16px + 2 * ((100vw - 320px) / (1280 - 320)));
  margin-bottom: calc(5px + 5 * ((100vw - 320px) / (1280 - 320)));
}

.categories-list li {
  padding: calc(3px + 2 * ((100vw - 320px) / (1280 - 320))) 4px;
}

.categories-list__link {
  color: #7C7C7C;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1280 - 320)));
}

.category-product-right {
  padding-top: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
}

.category-product-slider {
  padding: calc(15px + 5 * ((100vw - 320px) / (1280 - 320))) 0;
}
.category-product-slider .swiper-wrapper {
  height: calc(450px + 50 * ((100vw - 320px) / (1280 - 320)));
}
.category-product-slider .swiper-wrapper .swiper-slide {
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
}
.category-product-slider .swiper-pagination {
  grid-column-gap: calc(7px + 3 * ((100vw - 320px) / (1280 - 320)));
  padding: calc(15px + 5 * ((100vw - 320px) / (1280 - 320))) 0;
}
.category-product-slider .swiper-pagination .swiper-pagination-bullet {
  width: calc(8px + 4 * ((100vw - 320px) / (1280 - 320)));
  height: calc(8px + 4 * ((100vw - 320px) / (1280 - 320)));
  border-radius: 50%;
  background: #C111A76B;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.category-product-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: calc(18px + 4 * ((100vw - 320px) / (1280 - 320)));
  height: calc(18px + 4 * ((100vw - 320px) / (1280 - 320)));
  background: #CB11AB;
}

.category-product-banner {
  grid-column-gap: calc(10px + 5 * ((100vw - 320px) / (1280 - 320)));
  grid-row-gap: calc(10px + 5 * ((100vw - 320px) / (1280 - 320)));
}
.category-product-banner.padding {
  padding: calc(15px + 5 * ((100vw - 320px) / (1280 - 320))) 0;
}
.category-product-banner .banner__item {
  height: calc(200px + 20 * ((100vw - 320px) / (1280 - 320)));
}

.product-out.category-products-padding {
  padding: calc(30px + 10 * ((100vw - 320px) / (1280 - 320))) 0;
}

.category-products__list .swiper {
  width: 100%;
}
.category-products__list .swiper .swiper-button-next {
  z-index: 3;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: calc(30px + 5 * ((100vw - 320px) / (1280 - 320)));
  height: calc(30px + 5 * ((100vw - 320px) / (1280 - 320)));
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.25);
}
.category-products__list .swiper .swiper-button-next i {
  color: black;
  font-size: calc(13px + 3 * ((100vw - 320px) / (1280 - 320)));
}