html, body {
  font-size: calc(14px + 2 * ((100vw - 320px) / (1280 - 320)));
  font-family: "Montserrat", sans-serif;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.4%, #c111a7), color-stop(99%, #4b1174));
  background: linear-gradient(90deg, #c111a7 0.4%, #4b1174 99%);
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.h-inherit {
  height: inherit;
}

.loading-block {
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
}
.loading-block.active {
  visibility: visible;
}
.loading-block i {
  color: white;
  font-size: calc(18px + 4 * ((100vw - 320px) / (1280 - 320)));
}
.loading-block.active i {
  -webkit-animation: spinning infinite 1s linear;
          animation: spinning infinite 1s linear;
}

.full-wrapper {
  width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .wrapper {
    max-width: 1240px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .wrapper {
    max-width: 1100px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.swiper-wrapper .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.bg-purple {
  background: #4B1174;
}

.bg-main-gradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.4%, #c111a7), color-stop(99%, #4b1174));
  background: linear-gradient(90deg, #c111a7 0.4%, #4b1174 99%);
}